.header {
    background-color: #660000;
    color: floralwhite;
}


.btn {
    padding-top: 10px;
}

form {
    padding-top: 10px;
}
.clase1 {
    background-color:black;
    color: white;
}

.clase2 {
    background-color: black;
    color: white;
}

.clase3 {
    background-color: black;
    color: white;
}

.body {
    background-color: black;

}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }